/* To use : @extend %placeholders-name */

%center-absolute{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

%center-flex-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
