/* To compile : sass --watch scss/style.scss css/style.css */

/* Imports */
@import './variables';
@import './placeholders';


/* Start SCSS*/
*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #f1f1f1;
    background: $background-color;
    height: 100vh;
}